@import '../scss/fonts.scss';
@import '../scss/variables.scss';
@import '../components/button/button.scss';
@import '../components/header/header.scss';
@import '../components/dropdown/dropdown.scss';
@import '../components/text-field/text-field.scss';
@import '../components/footer/footer.scss';

html {
  font-size: 16px;
  font-family: $font-main;
}

body {
  margin: 0px;
  // width: 320px;
}

.dropdown1 {
  margin-bottom: 200px;
}