@import '../scss/fonts.scss';
@import '../scss/variables.scss';
@import '../components/button/button.scss';
@import '../components/header/header.scss';
@import '../components/dropdown/dropdown.scss';
@import '../components/text-field/text-field.scss';
@import '../components/footer/footer.scss';
@import '../components/abouts-room/abouts-room.scss';
@import '../components/block-color/block-color.scss';
@import '../components/type/type.scss';
@import '../components/submit-button/submit-button.scss';
@import '../components/calendar/calendar.scss';
@import '../components/date-dropdown/date-dropdown.scss';
@import '../components/booking-room-card/booking-room-card.scss';
@import '../components/bullet-list/bullet-list.scss';
@import '../components/checkbox/checkbox.scss';
@import '../components/radio-button/radio-button.scss';
@import '../components/expandable-checkbox/expandable-checkbox.scss';
@import '../components/filter-date/filter-date.scss';
@import '../components/footer-creative/footer-creative.scss';
@import '../components/like-button/like-button.scss';
@import '../components/logo/logo.scss';
@import '../components/pagination/pagination.scss';
@import '../components/rate-button/rate-button.scss';
@import '../components/range-slider/range-slider.scss';
@import '../components/rich-checkbox/rich-checkbox.scss';
@import '../components/toggle/toggle.scss';
@import '../components/search-room-card/search-room-card.scss';
@import '../components/sign-in-card/sign-in-card.scss';
@import '../components/sign-up-card/sign-up-card.scss';
@import '../components/room-card/room-card.scss';
@import '../components/comment/comment.scss';

html {
  font-size: 16px;
  font-family: $font-main;
}

body {
  margin: 0px;
  width: 270px;
}

.dropdown1 {
  margin-bottom: 200px;
}